{% comment %}

{% load base.html %}


{% endcomment %}

{% load staticfiles %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}


<html>
<head>
  <meta charset=utf-8 />
  <title>iMap</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
    integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
    crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
    integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
    crossorigin="">
  <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
    integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
    crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="static/css/style.css?v=1.137"  />


<header>
<nav> 

        <div class="tc ma0 ph0 pv0">
            <div class="flex items-center justify-center pa0">
                <h1 class="f1 fw9 black ma0 f1 ttu tracked-tight mt3">Map Maker</h1></div>
            <div class="flex items-center justify-center pa0">
                <h2 class="f3 fw5 black">Find Satellite Imagery and Soil Taxonomy Data for Anywhere in the US</h2>
            </div>
            {% comment %} <div class="flex items-center justify-center pa0">
                <a class="f3 link grow ph2 pv2 mb1  pa4 br3 dib white bg-green hover-bg-dark-green black inline-flex items-center" href="{% url 'request_map' %}">Your Farm</a>
                <span class="dib v-mid ph3 white mb3">or</span>
                <a class="f3 link grow ph2 pv2 mb1  pa4 br3 dib white bg-blue hover-bg-dark-blue black inline-flex items-center" href="{% url 'about' %}">Learn More</a>
            </div> {% endcomment %}
        </div>
    </div>
</nav>
</header>



<html>
<head>
  <meta charset=utf-8 />
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />



  <style>
    body { margin:0; padding:0; }
    #map { position: absolute; top: 200; bottom:0; right:0; left:0; }
  </style>



</head>


<style>
  #basemaps-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    background: white;
    padding: 10px;
  }
  #basemaps {
    margin-bottom: 5px;
  }
</style>

<div id="map"></div>

<div id="basemaps-wrapper" class="leaflet-bar">
  <select name="basemaps" id="basemaps" onChange="changeBasemap(basemaps)">
    <option value="ImageryClarity">Satellite (Labels)</option>
    <option value="Imagery">Satellite</option>
    <option value="Streets">Streets</option>
    <option value="NationalGeographic">National Geographic</option>
    <option value="soilLayer">Soil</option>
  </select>
</div>

<script>
  var map = L.map('map').setView([40.91, -96.63], 4);
  var layer = L.esri.basemapLayer('Imagery').addTo(map);
  var layerLabels;
  layerLabels = L.esri.basemapLayer('ImageryLabels');
      map.addLayer(layerLabels);
  var soilLayer;
  soilLayer = L.esri.dynamicMapLayer({
    url: 'https://services.arcgisonline.com/arcgis/rest/services/Specialty/Soil_Survey_Map/MapServer',
    opacity: 0.7
  }).addTo(map);
    map.addLayer(soilLayer);
// Soil layer
{% comment %} 
  L.esri.dynamicMapLayer({
    url: 'https://services.arcgisonline.com/arcgis/rest/services/Specialty/Soil_Survey_Map/MapServer',
    opacity: 0.7
  }).addTo(map); {% endcomment %}
  function setBasemap(basemap) {
    if (layer) {
      map.removeLayer(layer);
    }
    layer = L.esri.basemapLayer(basemap);
    map.addLayer(layer);
    if (layerLabels) {
      map.removeLayer(layerLabels);
    }
    if (soilLayer) {
      map.removeLayer(soilLayer);
    }
    if (basemap === 'ShadedRelief'
     || basemap === 'Oceans'
     || basemap === 'Gray'
     || basemap === 'DarkGray'
     || basemap === 'Terrain'
   ) {
      layerLabels = L.esri.basemapLayer(basemap + 'Labels');
      map.addLayer(layerLabels);
    } else if (basemap.includes('ImageryClarity')) {
      layerLabels = L.esri.basemapLayer('ImageryLabels'); 
      map.addLayer(layerLabels);
    }
  }
  function changeBasemap(basemaps){
    var basemap = basemaps.value;
    setBasemap(basemap);
  }
  var searchControl = L.esri.Geocoding.geosearch().addTo(map);
  var results = L.layerGroup().addTo(map);
  searchControl.on('results', function(data){
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });
</script>
</div>
</article>
</body>

</footer>


</html>
